[submodule "src/tinyxml"]
	path = src/tinyxml
	url = https://github.com/leethomason/tinyxml2.git
[submodule "vendor/imgui"]
	path = vendor/imgui
	url = https://github.com/ocornut/imgui.git
  branch = docking
